.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**
node_modules/**
.env
.env.*
*.log
**/.DS_Store
.nyc_output/**
coverage/**
.vscode-test/**
**/*.spec.ts
**/*.test.ts

# Exclude everything from parent directory
../**
